{% extends 'base.html'%}
{% block content %}
<div class="container mt-5">
    <h1>{{ doctor.id|default:"Add" }} Doctor</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ doctor.name|default:'' }}">
        </div>
        <div class="form-group">
            <label for="specialization">Specialization</label>
            <input type="text" class="form-control" id="specialization" name="specialization" value="{{ doctor.specialization|default:'' }}">
        </div>
        <div class="form-group">
            <label for="years_of_experience">Years of Experience</label>
            <input type="number" class="form-control" id="years_of_experience" name="years_of_experience" value="{{ doctor.years_of_experience|default:'' }}">
        </div>
        <button type="submit"class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
