{%extends 'base.html' %}
{%block content%}
<div class="container mt-5">
    <h1>Doctors List</h1>
    <a href="{% url 'patient_create' %}" class="btn btn-primary mb-3">Add Patient</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Disease</th>
                <th>Date of Admission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.disease }}</td>
                <td>{{ patient.admission_date }}</td>
                <td>
                    <a href= "{% url 'patient_update' patient.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'patient_delete' patient.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}